<tr>
    <td colspan="7">
        <p>Nog geen instrumenten </p>
        <p>Klik op "+ isntrumenten toevoegen" om je eerste instrument op te slaan.</p>
        <button class="primary-button">nieuw isntrument toevoegen</button>
    </td>
</tr>