<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title | default: "PreludeFonds" }}</title>
</head>
<body>
    <header class="main-header">
        <img src="/logo.svg" alt="">
        <nav class="main-nav">
            <ul>
                <li ><a class="{% if path == '/' %}active{% endif %}" href="/">Home</a></li>
                <li ><a class="{% if path == '/instrumenten' %}active{% endif %}" href="/instrumenten">Overzicht</a></li>
            </ul>
        </nav>
    </header>
    
    {% block content %}{% endblock %}

    <script src="/script.js"></script>
</body>
</html>   