{% render 'partials/head.liquid', title: title %}
{% include 'partials/componenten/header.liquid', path: path %}

<dl class="status-overview">

  <div class="status-box status-available">
    <dt>Beschikbaar</dt>
    <dd>
      {% assign available_count = 0 %}
      {% for instrument in instruments %}
        {% assign status = instrument.status | downcase %}
        {% if status == "beschikbaar" %}
          {% assign available_count = available_count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {{ available_count }}
      </dd>
  </div>

  <div class="status-box status-repair">
    <dt>In reparatie</dt>
    <dd>
      {% assign repair_count = 0 %}
        {% for instrument in instruments %}
          {% assign status = instrument.status | downcase %}
          {% if status == "in reparatie" %}
            {% assign repair_count = repair_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        {{ repair_count }}
    </dd>
  </div>
  
  <div class="status-box status-borrowed">
    <dt>Uitgeleend</dt>
    <dd>
      {% assign repair_borrowed = 0 %}
        {% for instrument in instruments %}
          {% assign status = instrument.status | downcase %}
          {% if status == "verhuurd" or status == "in gebruik voor school" %}
            {% assign repair_borrowed = repair_borrowed | plus: 1 %}
          {% endif %}
        {% endfor %}
        {{ repair_borrowed }}
    </dd>
  </div>

</dl>

<section>
    <div class="popup-header">
        <h2>Nieuw instrument toevoegen</h2>
        <button class="icon-btn">
            Sluiten
            <img src="/icons/close.svg" alt="">
        </button>
    </div>
        
    <form action="/instrumenten" method="POST" >
        <label>Naam instrument *
          <input type="text" name="naam" placeholder="bijv. gitaar 02" required>
        </label>

        <label for="categorie">Categorie instrument *
          <select id="categorie" name="categorie" required>
            <option value="" disabled selected hidden>Kies categorie</option>
            <option value="snaarinstrument">Snaarinstrument</option>
            <option value="blaasinstrument">Blaasinstrument</option>
            <option value="toetsinstrument">Toetsinstrument</option>
            <option value="slagwerk">Slagwerk</option>
            <option value="overig">Overig</option>
          </select>
        </label>

        <label for="serienummer">Serienummer *
          <input type="text" id="serienummer" name="serienummer" placeholder="bijv. 234-567-890">
        </label>

        <label for="beschrijving">Beschijving
          <textarea id="beschrijving" name="beschrijving" placeholder="details van het instrument..."></textarea>
        </label>

        <fieldset>
            <legend>Foto instrument</legend>

            <div class="upload-box">
              <label for="foto">
                <span>+ Foto uploaden</span>
                <span>JPG, PNG of WEBP</span>
              </label>

              <input id="foto" type="file" name="foto" accept=".jpg,.png,.webp" hidden>
            </div>
            

        </fieldset>

        <div class="knoppen-box">
            <button type="button" class="button-secondary">annuleren</button>
            <button type="submit" class="button-primary" >opslaan</button>
        </div>

    </form>
</section>
