{% render 'partials/head.liquid', title: title %}
{% include 'partials/header.liquid', path: path %}

<dl class="status-overview">

  <div class="status-box status-available">
    <dt>Beschikbaar</dt>
    <dd>
      {% assign available_count = 0 %}
      {% for instrument in instruments %}
        {% assign status = instrument.status | downcase %}
        {% if status == "beschikbaar" %}
          {% assign available_count = available_count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {{ available_count }}
      </dd>
  </div>

  <div class="status-box status-repair">
    <dt>In reparatie</dt>
    <dd>
      {% assign repair_count = 0 %}
        {% for instrument in instruments %}
          {% assign status = instrument.status | downcase %}
          {% if status == "in reparatie" %}
            {% assign repair_count = repair_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        {{ repair_count }}
    </dd>
  </div>
  
  <div class="status-box status-borrowed">
    <dt>Uitgeleend</dt>
    <dd>
      {% assign repair_borrowed = 0 %}
        {% for instrument in instruments %}
          {% assign status = instrument.status | downcase %}
          {% if status == "verhuurd" or status == "in gebruik voor school" %}
            {% assign repair_borrowed = repair_borrowed | plus: 1 %}
          {% endif %}
        {% endfor %}
        {{ repair_borrowed }}
    </dd>
  </div>

</dl>
