{% render 'partials/head.liquid', title: "Instrumenten overzicht" %}
{% render 'partials/componenten/header.liquid', path: path %}

<main class="instrument-overview-main">
    <h2>Overzicht van de instrumenten</h2>

    {% render 'partials/instrumenten/instrument_nav.liquid' %}
    
    <a href="/instrumenten?status=Beschikbaar">Beschikbaar</a>
    <a href="/instrumenten?status=Uitgeleend">Uitgeleend</a>
    <a href="/instrumenten?status=In reparatie">In reparatie</a>
    <a href="/instrumenten">Alle</a>

    <section class="instrument-table-section">
        {% render 'partials/instrumenten/instrument_categorie_nav.liquid' %}
        {% render 'partials/instrumenten/instrument_formulier.liquid' %}
        <p>
            {{ instruments | size }} Instrumenten
            {% if instruments.size == 1 %}
                instrument
            {% else %}
                instrumenten
            {% endif %}
        </p>

        <table class="instrument-table">
            {% render 'partials/instrumenten/instrument_tabel_hoofd.liquid' %}
            <tbody>
                {% if instruments.size == 0 %}
                    {% render 'partials/instrumenten/instrument_leeg.liquid' %}
                {% else %}
                    {% for instrument in instruments %}
                        {% render 'partials/instrumenten/instrument_tabel_rij.liquid', instrument: instrument %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </section>

</main>


{% render 'partials/foot.liquid' %}