/**/
@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("/fonts/akkurat-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Feijoa";
  src: url("/fonts/feijoa-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Feijoa";
  src: url("/fonts/feijoa-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
}

:root {
  /* Primary */
  --color-primary-hex: #46166b;
  --color-primary-rgb: 70, 22, 107;

  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-bg: rgba(var(--color-primary-rgb), 0.1);
  --color-primary-border: rgba(var(--color-primary-rgb), 0.5);
  --color-primary-text: var(--color-primary-hex);

  /* Neutrals */
  --color-neutral-900: #000000;
  --color-neutral-800: #212121;
  --color-neutral-500: #8f8f8f;
  --color-neutral-300: #d9d9d9;
  --color-neutral-100: #f2f2f2;
  --color-neutral-0: #ffffff;

  /* status Kleuren */
  /* status Available */
  --color-status-available-hex: #11a407;
  --color-status-available-rgb: 17, 164, 7; 

  --color-status-available: rgb(var(--color-status-available-rgb)); 
  --color-status-available-bg: rgba(var(--color-status-available-rgb), 0.1); 
  --color-status-available-border: rgba(var(--color-status-available-rgb), 0.5);
  --color-status-available-text: var(--color-status-available-hex);

  /* status Repair */
  --color-status-repair-hex: #ffbb00;
  --color-status-repair-rgb: 255, 187, 0;

  --color-status-repair: rgb(var(--color-status-repair-rgb));
  --color-status-repair-bg: rgba(var(--color-status-repair-rgb), 0.1);
  --color-status-repair-border: rgba(var(--color-status-repair-rgb), 0.5);
  --color-status-repair-text: var(--color-status-repair-hex);

  /* status Borrowed */
  --color-status-borrowed-hex: #ff0000;
  --color-status-borrowed-rgb: 255, 0, 0;

  --color-status-borrowed: rgb(var(--color-status-borrowed-rgb));
  --color-status-borrowed-bg: rgba(var(--color-status-borrowed-rgb), 0.1);
  --color-status-borrowed-border: rgba(var(--color-status-borrowed-rgb), 0.5);
  --color-status-borrowed-text: var(--color-status-borrowed-hex);

  /* typografie */
  /* Font families */
  --font-sans: "Akkurat", sans-serif;
  --font-serif: "Feijoa", serif;



  /* Basis z-index niveaus */
  --z-index-background: 0;
  --z-index-default: 10;
  --z-index-dropdown: 100;
  --z-index-modal: 1000;

  /* Body */
  --font-body-size: 1em;
  --font-body-weight: 400;
  --font-body-line-height: 1.5;

  /* Headings */
  --font-h1-size: clamp(2rem, 0.9830508475rem + 2.1186440678vw, 2.625rem);
  --font-h1-weight: 400;
  --font-h1-line-height: 1.2;
  --font-h1-margin: 0 0 0.9375rem;

  --font-h2-size: clamp(1.5rem, 0.686440678rem + 1.6949152542vw, 2rem);
  --font-h2-line-height: 1.2;
  --font-h2-margin: 2rem 0 0.625rem;

  --font-h3-size: clamp(1.5rem, 0.686440678rem + 1.6949152542vw, 2rem);
  --font-h3-line-height: 1.5;
  --font-h3-margin: 0 0 0.2em;

  --font-h4-size: clamp(1.25rem, 0.843220339rem + 0.8474576271vw, 1.5rem);
  --font-h4-weight: 700;
  --font-h4-line-height: 1.2;
  --font-h4-margin: 0 0 0.5rem;

  /* Paragraph */
  --font-p-size: clamp(1.25rem, 0.843220339rem + 0.8474576271vw, 1.5rem);
  --font-p-weight: 300;
  --font-p-line-height: 1.6;
  --font-p-margin: 0 0 1em;

}

/* Thema kleuren */

/*typografie*/

/* Body */
body {
  font-family: var(--font-sans);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
  line-height: var(--font-body-line-height);
}

/* Headings */
h1 {
  font-family: var(--font-serif);
  font-size: var(--font-h1-size);
  font-weight: var(--font-h1-weight);
  line-height: var(--font-h1-line-height);
  margin: var(--font-h1-margin);
}

h2 {
  font-family: var(--font-serif);
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
  margin: var(--font-h2-margin);
}

h3 {
  font-family: var(--font-serif);
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-line-height);
  margin: var(--font-h3-margin);
}

h4 {
  font-family: var(--font-sans);
  font-size: var(--font-h4-size);
  font-weight: var(--font-h4-weight);
  line-height: var(--font-h4-line-height);
  margin: var(--font-h4-margin);
}

p {
  font-family: var(--font-sans);
  font-size: var(--font-p-size);
  font-weight: var(--font-p-weight);
  line-height: var(--font-p-line-height);
  margin: var(--font-p-margin);
}

/*knoppen*/
button{
  padding: 0.75em;
  border-radius: 0.375rem;
  display: inline-flex;
  gap: 0.3em;
  font-size: 1rem;
  transition: 0.2s ease-out;
  &::before {
    content: "";
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &:hover{
    cursor: pointer;
  }
}
.button-primary{
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-neutral-0);
  &:hover{
    background-color: var(--color-neutral-0);
    color: var(--color-primary);
  }
}
.button-secondary{
  background-color: var(--color-neutral-0);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  &:hover{
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
  }
}
.button--filter{
  &::before{
    background-image: url(/icons/filter.svg);
  }
  &:hover::before{
    filter: brightness(0) invert(1);
  }
}
.button--new{
  &::before{
    background-image: url(/icons/plus.svg);
    filter: brightness(0) invert(1);
  }
  &:hover::before{
    filter: brightness(0) invert(0);
  }
}
.button--list{
  &::before{
    background-image: url(/icons/list.svg);
    filter: brightness(0) invert(1);
  }
  &:hover::before{
    filter: brightness(0) invert(0);
  }
}
.button--grid{
  &::before{
    background-image: url(/icons/grid.svg);
  }
  &:hover::before{
    filter: brightness(0) invert(1);
  }
}
.button--back{
  &::before{
    background-image: url(/icons/back.svg);
  }
  &:hover::before{
    filter: brightness(0) invert(1);
  }
}

/*algemene styling form*/

form{
  display: flex;
  flex-direction: column;
  label{
    color: var(--color-primary);
    font-size: 1.2rem;
    padding-bottom: 0.2rem;

    input:required + &,
    select:required + &{
      &::after{
        content: " *";
      }
    }
  }

  input{
    padding: 0.8rem;
    font-size: inherit;
    border: solid var(--color-primary) 0.05rem;
    border-radius: 0.375rem;
    &:hover, &:focus{
      outline: 0.09rem solid var(--color-primary);
    }
    &:valid{
      background-color: var(--color-primary-bg);
    }
  }

  textarea{
    padding: 0.8rem;
    font-size: inherit;
    border: solid var(--color-primary) 0.05rem;
    border-radius: 0.375rem;
    &::placeholder{
      font-family: var(--font-sans);  
    }
    &:hover, &:focus{
      outline: 0.09rem solid var(--color-primary);
    }
  }

  select{
    padding: 0.8rem;
    font-size: inherit;
    border: solid var(--color-primary) 0.05rem;
    border-radius: 0.375rem;
    color: var(--color-primary);
    &:hover, &:focus{
      outline: 0.09rem solid var(--color-primary);
    }
    option{
      color: var(--color-primary);
      position: relative;
    }

    &:invalid {
      color: var(--color-neutral-500);
      background-color: inherit;
    }
    &:valid {
      background-color: var(--color-primary-bg);
    }
  }
  fieldset{
    border: none;
    legend{
      color: var(--color-primary);
      font-size: 1.2rem;
      padding-bottom: 0.2rem;
    }
  }
}