<nav class="instrumenten-categorie-nav">
    <ul>
        <li class="{% if type == nil or type == blank %}active{% endif %}"><a href="/instrumenten">Alle</a></li>
        <li class="{% if type == 'snaarinstrument' %}active{% endif %}"><a href="/instrumenten?type=snaarinstrument">Snaarinstrumenten</a></li>
        <li class="{% if type == 'blaasinstrument' %}active{% endif %}"><a href="/instrumenten?type=blaasinstrument">Blaasinstrumenten</a></li>
        <li class="{% if type == 'toetsinstrument' %}active{% endif %}"><a href="/instrumenten?type=toetsinstrument">Toetsinstrumenten</a></li>
        <li class="{% if type == 'slagwerk' %}active{% endif %}"><a href="/instrumenten?type=slagwerk">Slagwerk</a></li>
        <li class="{% if type == 'overig' %}active{% endif %}"><a href="/instrumenten?type=overig">Overig</a></li>
    </ul>
</nav>