<section class="instrument-toevoegen-popup">
    <div class="popup-header">
        <h2>Nieuw instrument toevoegen</h2>
        <button class="popup-sluiten">
            <img src="/icons/close.svg" alt="">
            Sluiten
        </button>
    </div>
        
    <form action="/instrumenten" method="POST" >
        <label>Naam instrument *
          <input type="text" name="naam" placeholder="bijv. gitaar 02" required>
        </label>

        <label for="categorie">Categorie instrument *
          <select id="categorie" name="categorie" required>
            <option value="" selected>-- Kies categorie --</option>
            <option value="snaarinstrument">Snaarinstrument</option>
            <option value="blaasinstrument">Blaasinstrument</option>
            <option value="toetsinstrument">Toetsinstrument</option>
            <option value="slagwerk">Slagwerk</option>
            <option value="overig">Overig</option>
          </select>
        </label>

        <label for="serienummer">Serienummer *
          <input type="text" id="serienummer" name="serienummer" placeholder="bijv. 234-567-890" required pattern="\d{3}-\d{3}-\d{3}" title="Voer een serienummer in het formaat 123-456-789">
        </label>

        <label for="beschrijving">Beschijving
          <textarea id="beschrijving" name="beschrijving" placeholder="details van het instrument..."></textarea>
        </label>

        <fieldset>
            <legend>Foto instrument</legend>

            <div class="upload-box">
              <label for="foto">
                <span>+ Foto uploaden</span>
                <span>JPG, PNG of WEBP</span>
              </label>

              <input id="foto" type="file" name="foto" accept=".jpg,.png,.webp" hidden>
            </div>
            

        </fieldset>

        <div class="knoppen-box">
            <button type="button" class="button-secondary">Annuleren</button>
            <button type="submit" class="button-primary" >Opslaan</button>
        </div>

    </form>
</section>
