<section class="instrument-nav-panel">
        {% include 'partials/componenten/zoekbalk.liquid' %}
        <div class="button-box">
            <button class="button button-primary button--new">New instrument toevoegen</button>
            <button class="button button-secondary button--filter">Filters</button>
        </div> 
        
        <fieldset class="view-toggle">
            <button class="button button-primary button--list">List</button>
            <button class="button button-secondary button--grid">Grid</button>
        </fieldset>
    </section>
