<section class="instrument-nav-panel">
        {% include 'partials/componenten/zoekbalk.liquid' %}
        <div class="button-box">
            <button class="button button-primary button--new">New instrument toevoegen</button>
            <select class="button button-secondary button--filter" onchange="if(this.value) window.location.href=this.value">
                <option value="">Filters</option>
                <option value="/instrumenten?status=Beschikbaar">Beschikbaar</option>
                <option value="/instrumenten?status=Uitgeleend">Uitgeleend</option>
                <option value="/instrumenten?status=In reparatie">In reparatie</option>
                <option value="/instrumenten">Geen filters</option>
            </select>
        </div> 
        
        <fieldset class="view-toggle">
            <button class="button button-primary button--list">List</button>
            <button class="button button-secondary button--grid">Grid</button>
        </fieldset>
    </section>
