<thead>
    <tr>
        <th scope="col">
            <button>
                Naam instrument
                <img src="/icons/sorteer.svg" alt="sorteer" width="24" height="24">
            </button>
        </th>
        <th scope="col">
            <button>
                Serienummer
                <img src="/icons/sorteer.svg" alt="sorteer" width="24" height="24">
            </button>
        </th>
        <th scope="col">Type</th>
        <th scope="col">Merk</th>
        <th scope="col">Eigendom van</th>
        <th scope="col">
            <button>
                Status
                <img src="/icons/sorteer.svg" alt="sorteer" width="24" height="24">
            </button>
        </th> 
        <th scope="col">Link</th> 
    </tr>
</thead>